{% if page.url == '/' %}{% assign home = '' %}{% else %}{% assign home = '/' | relative_url %}{% endif %}

<header class="siteHeader">
	<a class="brand" href="{{ '/' | relative_url }}">
		<img class="brandMark" src="{{ site.app_icon | relative_url }}" width="34" height="34" alt="" aria-hidden="true">
		<div class="brandName">{{ site.app_name }}</div>
	</a>
	<nav class="siteNav">
		<a class="navLink" href="{{ home }}#screens">The screens</a>
		<a class="navCta" href="{{ home }}#get">Get the app</a>
	</nav>
</header>
